body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}


.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mac {
  float: left;
  margin-right: 50px;
  height: 200px;
  width: 200px;
  text-align: right;
}

.drawing {
  float: right;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  text-align: left;
}

.cars {
  float: left;
  margin-right: 50px;
  height: 200px;
  width: 200px;
  text-align: right;
}

.cricket {
  float: right;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  text-align: left;
}

.piano {
  float: left;
  margin-right: 50px;
  height: 200px;
  width: 200px;
  text-align: right;
}

.tech {
  float: right;
  margin-left: 50px;
  height: 200px;
  width: 200px;
  text-align: left;
}



.profile-photo {
  height: 200px;
  width: 200px;
}

.skill-row1 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row2 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row3 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row4 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row5 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-row6 {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}



.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -moz-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -ms-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -o-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -webkit-gradient(to bottom, #66BFBF, #1ED0D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FBFBFB;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: normal;
   padding-top:15px;
   padding-bottom:15px;
   padding-left:15px;
   padding-right:15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;

}

.btn:hover {
   border: solid #33DCED 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -moz-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -ms-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -o-linear-gradient(top, #66BFBF, #1ED0D0);
   background-image: -webkit-gradient(to bottom, #66BFBF, #1ED0D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

